body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#gameContainer {
  width: 100vw;
  height: 200px;
  background-color: #f4f4f4;
  position: relative;
}

#coin {
  width: 30px; /* Coin size */
  height: 30px; /* Coin size */
  background-image: url('coin.png'); /* Coin image */
  background-size: cover;
  position: absolute;
  animation: moveCoin 5s linear infinite; /* Adjust timing as needed */
  bottom: 120px; /* Adjust based on jump height */
  right: 50%; /* Initial position - adjust as needed */
}

#player {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  background-image: url('char2.png'); /* Replace with your image path */
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50px;
}

#obstacle {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  background-color: #EA4335;
  position: absolute;
  bottom: 0;
  right: 20px;
  animation: moveObstacle 2s infinite linear;
}

/* Coins display */
#coinCounter {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #000;
  font-size: 18px;
  z-index: 1;
}

/* Progress bar container */
#progressBarContainer {
  position: fixed;
  top: 50px;
  left: 20px;
  width: 200px;
  height: 20px;
  background-color: #eee;
  z-index: 1;
}

/* Progress bar */
#progressBar {
  height: 100%;
  width: 0%; /* Initial width */
  background-color: #4CAF50;
}

@keyframes moveObstacle {
  0% { right: -50px; }
  100% { right: 100%; }
}

@keyframes jump {
  0%, 100% { bottom: 0; }
  50% { bottom: 120px; } /* Adjust peak height of the jump */
}

.jump-animation {
  animation: jump 0.8s ease;
}
