body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#gameContainer {
    width: 100vw; /* Adjust as needed */
    max-width: 800px; /* Limit maximum width for larger screens */
    height: calc(100vw * 9 / 16); /* Set height based on width to maintain aspect ratio of 16:9 */
    max-height: calc(800px * 9 / 16); /* Limit maximum height based on width */
    position: relative;
    overflow: hidden;
    background-color: #74e8fc;
    border-radius: 1px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#player {
    width: 10%; /* Adjust width of player */
    aspect-ratio: 1 / 1; /* Maintain aspect ratio */
    background-image: url('char2.gif');
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 5%;
}

#obstacle {
    width: 5%; /* Adjust width of obstacle */
    aspect-ratio: 1 / 1; /* Maintain aspect ratio */
    background-image: url('obstacle.png');
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 90%;
    animation: moveRight 3s linear infinite;
}

#cloud {
    width: 20%; /* Adjust width of cloud */
    aspect-ratio: 1 / 1; /* Maintain aspect ratio */
    background-image: url('cloud.png');
    background-size: cover;
    position: absolute;
    bottom: 90px;
    left: 90%;
    animation: moveRight 5s linear infinite;
}

.coin, .bird {
    position: absolute;
    bottom: 0;
    left: 100%;
    animation: moveRight 3s linear infinite;
}

.coin {
    width: 10%; /* Adjust width of coin */
    aspect-ratio: 1 / 1; /* Maintain aspect ratio */
    background-image: url('coin.gif');
    background-size: cover;
    bottom: 100px; /* Adjust this to control the height at which coins appear */
}

.bird {
    width: 12%; /* Adjust width of bird */
    aspect-ratio: 1 / 1; /* Maintain aspect ratio */
    background-image: url('bird.gif');
    background-size: cover;
    bottom: 150px; /* Adjust this to control the height at which birds appear */
}

#coinCounter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #000;
    font-size: 20px;
    z-index: 10;
}

#progressBarContainer {
    position: absolute;
    bottom: 40px;
    left: 10px;
    width: 200px;
    height: 20px;
    background-color: #ddd;
    z-index: 10;
}

#progressBar {
    height: 100%;
    width: 0%;
    background-color: #76b852;
}

@keyframes moveRight {
    from { left: 100%; }
    to { left: -30px; }
}

@keyframes jump {
    0%, 100% { bottom: 0; }
    50% { bottom: 150px; }
}

.jump-animation {
    animation: jump 0.9s ease;
}

@media (max-width: 920px) {
    #gameContainer {
        /* width: 90%; */
        height: 56.25vw; /* Maintain 16:9 aspect ratio */
        max-height: 450px; /* Limit maximum height */
    }

    #player {
        width: 15%; /* Adjust width of player for smaller screens */
    }

    #obstacle {
        width: 3%;
        /* Adjust width of obstacle for smaller screens */
    }

    #cloud {
        width: 25%; /* Adjust width of cloud for smaller screens */
    }

    .coin {
        width: 15%; /* Adjust width of coin for smaller screens */
    }

    .bird {
        width: 18%; /* Adjust width of bird for smaller screens */
    }
}
