body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

#gameContainer {
  width: 100vw;
  height: 300px;
  position: relative;
  overflow: hidden;
  background-color: #e5e5e5; /* Light grey background for contrast */
}

#player {
  width: 50px; /* Adjust based on your character image */
  height: 50px; /* Adjust based on your character image */
  background-image: url('char2.png'); /* Ensure the path to your character image is correct */
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50px;
}

#obstacle {
  width: 50px; /* Adjust based on the obstacle size */
  height: 50px; /* Adjust based on the obstacle size */
  background-color: #EA4335; /* Example color, replace or adjust as needed */
  position: absolute;
  bottom: 0;
  right: -50px; /* Start off-screen */
  animation: moveObstacle 3s linear infinite; /* Animation makes the obstacle move across the screen */
}

#coinCounter {
  position: fixed;
  top: 10px;
  left: 10px;
  color: #000;
  font-size: 20px;
  z-index: 10;
}

#progressBarContainer {
  position: fixed;
  top: 40px;
  left: 10px;
  width: 200px;
  height: 20px;
  background-color: #ddd;
  z-index: 10;
}

#progressBar {
  height: 100%;
  width: 0%;
  background-color: #76b852; /* Green progress bar */
}

@keyframes moveObstacle {
  0% { right: -50px; }
  100% { right: 100vw; } /* Obstacle exits the screen on the left */
}

@keyframes jump {
  0%, 100% { bottom: 0; }
  50% { bottom: 100px; } /* This matches the peak of the jump animation */
}
